.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: white;
  padding: 0 10%;
}

.navbar h1 {
  font-size: 2rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.random-quiz-link {
  background-color: #04242e;
  color: white;
  padding: 7px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.random-quiz-link:hover {
  background-color: #04242e;
  color: #1ed9d9;
}

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.195);
    padding-bottom: 25px;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
